* { margin:0; padding:0; }

body {
  background-color: rgb(18,18,18);
  font-family: 'Helvetica' 'sans-serif';
  font-weight: 100;
  color: rgb(244,238,224);
  font-size: 14px;
}

fieldSet {
  border: none;
}

#daCanvas {
  width: 960px;
  height: 720px;
  display: block;
  margin: 20px auto 20px auto;
}

.description {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

a {
  color: rgb(244,238,224);
  text-decoration: underline;
}

a.view-source {
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.controls {
  width: 130px;
  height: 160px;
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #222;
  padding: 20px;
  border-radius: 5px 5px 5px;
}
